anytree==2.8.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
attrs==20.2.0
Augmentor==0.2.8
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
bleach==3.3.0
blis==0.4.1
btrfsutil==1.2.0
CacheControl==0.12.6
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
contextlib2==0.6.0.post1
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.4
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.1.3
django-appconf==1.0.4
django-bootstrap==0.2.4
django-bootstrap-form==3.4
django-crispy-forms==1.9.2
django-geojson==3.0.0
django-leaflet==0.26.0
django-settings-export==1.2.1
django-user-accounts==3.0.2
django-widget-tweaks==1.4.8
Dockbarx==1.0b0
entrypoints==0.3
fastai==2.1.3
fastcore==1.3.1
fastprogress==1.0.0
filelock==3.0.12
future==0.18.2
gmpy2==2.1.0b5
guake==3.7.0
gufw==20.4.0
gunicorn==20.0.4
html5lib==1.1
idna==2.10
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.1.0
ipywidgets==7.5.1
isort==5.6.4
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonfield==3.1.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
kiwisolver==1.3.1
lazy-object-proxy==1.5.1
lensfun==0.3.95
lightdm-gtk-greeter-settings==1.2.2
lit==0.10.1.dev0
lockfile==0.12.2
louis==3.15.0
lxml==4.6.1
Mako==1.1.3
mallard-ducktype==1.0.2
Markdown==3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
meson==0.56.0
mistune==0.8.4
more-itertools==8.5.0
mpmath==1.1.0
msgpack==1.0.0
murmurhash==1.0.4
nbconvert==5.6.1
nbformat==5.0.6
netsnmp-python==1.0a1
notebook==6.1.4
numpy==1.19.4
ordered-set==4.0.2
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.1
pbr==5.5.1
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
Pinax==0.9a2
pinax-theme-bootstrap==8.0.1
plac==1.1.3
ply==3.11
polib==1.1.0
preshed==3.0.3
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.8
psutil==5.7.3
psycopg2==2.8.6
ptyprocess==0.6.0
pycairo==1.20.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pygame==2.0.0
Pygments==2.7.2
PyGObject==3.38.0
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-xlib==0.28
pytoml==0.1.21
pytz==2020.4
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
scikit-learn==0.23.2
scipy==1.5.3
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
spacy==2.3.2
sqlparse==0.4.1
srsly==1.0.2
sympy==1.6.2
team==1.0
terminado==0.9.1
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.0
torchvision==0.8.1
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
transliterate==1.10.2
typing-extensions==3.7.4.3
ufw==0.36
urllib3==1.25.10
virtualenv==20.1.0
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.4.0
