{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="uk-section uk-section-default uk-section-xlarge" data-src="{% static 'images/background.png' %}" uk-img>
    <div class="uk-container uk-container-small">
        <p class="uk-text-large uk-text-contrast" style="color: rgb(0, 255, 255);">Сегодня в России наблюдается довольно печальная экологическая обстановка, люди не могут привыкнуть к тому, что мусор необходимо сортировать. В частности, зачастую человек утилизирует разные виды пластика одинаково.<p>
    </div>
</div>
<div class="uk-section uk-section-default uk-section-xlarge" data-src="{% static 'images/background2.jpg' %}" uk-img>
    <div class="uk-container uk-container-small">
        <p class="uk-text-large uk-text-contrast uk-text-center" style="color: blue; ">Давайте сделаем планету чище!<p>
    </div>
</div>

{% endblock %}
