{% extends 'base.html' %}

{% block content %}

<div class="uk-section uk-section-xlarge">
    <div class="uk-container uk-container-xsmall uk-position-center">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="uk-margin">
                <div uk-form-custom>
                    <input type="file" name="image" multiple>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Загрузить</button>
                </div>
                <button class="uk-button uk-button-default" name="submit">Распознать</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
